# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/

./templates/admin-server.yaml
./templates/api-gateway.yaml
./templates/config-server.yaml
./templates/customers-service.yaml
./templates/discovery-server.yaml
./templates/genai-service.yaml
./templates/tracing-server.yaml
./templates/vets-service.yaml
./templates/visits-service.yaml